{% load static %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.min.js' %}"></script>
	<script src="{% static 'assets/js/app.js' %}"></script>
	<script src="{% static 'assets/js/ajax.js' %}"></script>
	<!--app JS-->


