{% load static %}
<header>
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand justify-content-center">
					<div class="topbar-logo-header " style="border:none">

						<div class="">
							<h4 class="logo-text">Менеджеры</h4>
						</div>
					</div>
					<div class="mobile-toggle-menu"><i class="bx bx-menu"></i></div>

				</nav>
			</div>
		</header>

<div class="nav-container">
			<div class="mobile-topbar-header">

				<div class="toggle-icon ms-auto"><i class="bx bx-arrow-to-left"></i>
				</div>
			</div>
			<nav class="topbar-nav">
				<ul class="metismenu" id="menu">
					<li>
						<a href="{% url 'list_managers' %}" class=" d-flex justify-content-center">
							<div class="parent-icon"><i class="bx bx-link"></i>
							</div>
							<div class="menu-title">Список менеджеров</div>
						</a>

					</li>






				</ul>
			</nav>
		</div>